* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

#nav-logo
 {
   height: 57px;
   width: 200px;
   position: absolute; 
   z-index: 1;
   margin-top: -30px; 
   margin-left: -15px; 
 }

 .bg{
    background-color:#b7cced;
 }
