.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 2rem;
    background-color: #ccccff;
    /* background-color: #fff; */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-left img {
    height: 60px;
  }
  
  .navbar-right ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-right li {
    margin-left: 2rem;
  }
  
  .navbar-right a {
    color: #333;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .navbar-right a:hover {
    color: #0077cc;
  }
  

  /* LOGO */

  #nav-logo {
    height: 90px;
    width: 300px;
    position: absolute;
    z-index: 1;
    margin-top: -43px;
    margin-left: -50px;
}