.button_not_found {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    background-color: #0077b5;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .button_not_found:hover {
    background-color: #004471;
  }

.not_found{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  
}
