
a {
       text-decoration: none;
       /* margin: 0; */
   font-size: 25px;
   font-family: italic;
   color: white;
   margin: 5px 20px;
       }
li :hover
{
   color:red;
}
   .nav {
       background-color: black;
       border-radius: 15px;
   }
   .nav ul {
       overflow:auto;
   }
   .nav li {
       float: left;
       list-style-type:none;
        }
   .search {
       color: white;
       float: right;
       padding: 8px 36px;
   }
   #search
   {
       border-radius: 12px;
       width: 170px;
   }